@charset "utf-8";

body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Arial, sans-serif;
}

ul {
    margin-left: 0;
    padding-left: 2em;
}

a {
    color: inherit;
    text-decoration: inherit;
}
a:hover, a:active  {
    text-decoration: underline;
}

em {
    font-weight: bold;
    font-style: inherit;
}

.header {
    background-color: rgb(98, 98, 252);
    color: white;   
    padding: 1rem;
}
div.header {
    max-width: 65rem;
    margin: auto;
}

.header .name-role {
    font-size: 1.5rem;
}
.header .name-role .role {
    float: right;
    font-weight: normal;
}
div.contacts {
    float: right;
    width: 14rem;
    /* padding-bottom: 2rem; */
    border-left: 0.05rem;
    border-style: none none none solid;
}
.contacts h2 {
    margin: 0 0 .5rem 1rem;
    list-style-type: none;
}
.contacts li {
    padding-top: .2rem;
    padding-left: 0;
    list-style-type: none;
}
.contacts ul {
    padding-left: 1rem;
}

#location {
    list-style-type: "🌎 ";
}
#phone {
    list-style-type: "📞 ";
}
#email {
    list-style-type: "📧 ";
}
#linkedin {
    list-style-type: "💼 ";
}
#github {
    list-style-type: "💾 ";
}


.main {
    max-width: 65rem;
    margin: auto;
}

.main h1 {
    margin-block-end: .1em;
}

div.experience {
    max-width: 60rem;
    margin: auto;
}
.experience h2 {
    font-weight: normal;
    font-size: 1.5em;
    margin-block-end: .4em;
    margin-block-start: .4em;
}
.experience span {
    white-space: nowrap;
}
span.position {
    font-weight: bold;
}
span.company {
    font-weight: bold;
    font-style: italic;
}
span.location {
    font-style: italic;
}
span.dates {
    font-size: .8em;
}
span.dates:before {
    content: '';
    display: block;
}
.experience p, ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.download {
    background-color: lightslategrey;
    text-align: center;
    max-width: 65rem;
    margin: auto;
    margin-block-start: 3em;
}

.tagline {
    font-size: 1.1em;
}

.print-only {
    display: none;
}



@media print
{    
    body {
        font-family: Optima, Calibri, Candara, Segoe, "Segoe UI", Arial, sans-serif;
    }
    
    .download, .download *
    {
        display: none !important;
    }
    .header {
        background-color: inherit;
        color: inherit;   
        padding: 0;
        margin-block-end: .1rem;
        border-style: none none double none;
        border-width: 0.2rem;
    }

    .header .name-role {
        font-size: 1.2rem;
    }

    .header .name-role .role {
        font-size: .8em;
        padding-top: .2em;
    }

    .header .name-role .print-only{
        font-size: .7rem;
        font-style: italic;
        font-weight: 200;
        display: block;
    }

    div.contacts {
        /* padding-bottom: 4rem; */
        margin-left: 2em;
    }

    .pagebreak {
        page-break-after: always;
    }
    
    .print-only {
        display: inline;
    }

    .continued {
        font-weight: 100;
        font-size: .7em;
        padding-top: .3em;
    }
}